body {
    margin: 0;
    background-color: #dee4e2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background-color: #1f1420;
    color: azure;
    text-align: center;
    padding: 5px;
}

main {
    font-size: 13px;
    justify-content: center;
    padding: 50px;
    margin: auto;
}

#heading_text {
    text-align: center;
}

#input_field {
    width: 90%;
    height: 35px;
    padding: 10px;
    border-radius: 25px;
    border-style: none;
}

#form-card {
    border-radius: 30px;
    background-color: #cfc6cf;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 30px; /* Add some padding for better spacing */
}

.radio_selection {
    width: 100%;
    margin-bottom: 10px; /* Add margin for spacing */
}

.radio_selection table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px; /* Add margin for spacing */
}

.radio_selection th, .radio_selection td {
    border: 1px solid #000;
    border-style: none;
    padding: 8px;
    text-align: center;
}

#textarea {
    width: 100%;
    padding: 8px;
    border-radius: 25px;
    border-style: none;
    margin-top: 5px; /* Add margin for spacing */
}

#btn {
    color: bisque;
    font-weight: bold;
    background-color: #1f1420;
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 25px;
    border-style: none;
    margin-top: 10px; /* Add margin for spacing */
}
